# ── Backend MyAccess ──────────────────────────────
DB_USERNAME=tu_usuario_tidb
DB_PASSWORD=tu_password_tidb

RESEND_API_KEY=tu_api_key_resend
EMAIL_FROM=MyAccess <onboarding@resend.dev>

JWT_SECRET=alht7XYKujQPw1ourB0c4rIRg4x6RNrqewufShlZoug=
JWT_EXPIRATION=600000
JWT_REFRESH_EXPIRATION=600000
